body {
  margin: 0;
  font-family: 'TiltNeon',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5f7;
  
  background-image:  radial-gradient(#cbceff 0.5px, transparent 0.5px), radial-gradient(#cbceff 0.5px, #e5e5f7 0.5px);
  background-size: 25px 25px;
  background-position: 0 0,10px 10px;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'TiltNeon';
  src: url('../src/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf');
  font-weight: bold;
}